{% extends 'shared/_layout.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/wifi-styles.css' %}">
{% endblock %}

{% block scripts %}
<script type="application/javascript">
$('body').attr('onload', 'bodyLoaded()');
</script>
{% endblock %}

{% block content %}

    <div id="wifi-list" >
        <h1>Network Profiles</h1>
        <div class="d-flex align-items-start">
            <div class="flex-grow-1 me-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">SSID</th>
                            <th scope="col">Flags</th>
                        </tr>
                    </thead>
                    {% for network in network_list %}
                       <tr network-id="{{ network.id }}">
                            <td>{{ network.ssid }}</td>
                            <td>
                                {% if network.flags is not None %}
                                {{ network.flags }}
                                {% endif %}
                            </td>
                            <td>
                                <button onclick="console.log('This does nothing!!')">Edit</button>
                            </td>
                       </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="d-flex flex-row-reverse">
                <button class="add-btn" type="button" onclick="console.log('Nothing here!!')">
                    <svg height="32" width="32" fill="#f3f3f3">
                        <use href="{% static 'icons/bootstrap-icons.svg' %}#plus"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <script type="application/javascript">

    </script>

{%  endblock %}