@import 'variables';
@import "breakpoints";

@mixin btn-block-display(){
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $palette-blue;
}

@mixin square-size($size){
    aspect-ratio: 1 / 1;
    width: $size;
    height: $size;
}

@include media-breakpoint-up(sm){
    .block-btn {
        @include btn-block-display();

        // Font Properties
        color: #ffffff;
        font-size: xxx-large;
        text-shadow: 1px 1px #1a1e21;

        @include square-size(25%);

        //Animation
        transition: transform 0.5s;
    }

    .block-btn:hover {
        transform: scale(110%, 110%);
        cursor: pointer;
    }
}

@include media-breakpoint-down(md){
    .block-btn {
        @include btn-block-display();

        // Font Properties
        color: #ffffff;
        font-size: xxx-large;
        text-shadow: 1px 1px #1a1e21;

        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        min-width: 100%;
        height: 150px;

        //Animation
        transition: transform 0.5s;
    }

    .block-btn:hover {
        transform: scale(115%, 125%);
        cursor: pointer;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}